* {
  all: unset;
}

.ewwbar {
  font-family: sans;
  border-radius: 12px;
  background: rgba(36, 40, 59, 0.7);
  padding: 12px 0;
}

.bar {
  border-radius: 12px;

  .time {
    font-family: monospace;
    font-weight: 700;
    color: #8f98e0;
    font-size: 20px;
  }

  .time > label:nth-child(2) {
    opacity: 0.75;
  }

  .time > label:last-child {
    opacity: 0.4;
  }

  .poweroff,
  .reboot {
    font-size: 24px;
  }

  .power button {
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.2s ease;
  }

  .windows:hover {
    color: #00a4ef;
  }

  .poweroff:hover {
    color: #f25022;
  }

  .reboot:hover {
    color: #91b6e6;
  }

  .volume {
    color: #91b6e6;
    font-weight: 600;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .battery {
    color: #efa5ac;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .battery.Charging {
    opacity: 1;
  }

  .iphone {
    margin-bottom: 8px;
    color: #2f9df4;
    font-weight: 600;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .iphone.disconnected {
    opacity: 0.3;
  }

  .volume.muted {
    opacity: 0.3;
  }

  .color_label {
    margin-top: 8px;
    transition: color 0.3s ease;
  }

  .color_button {
    margin: 0 12px;
  }
}

.notifications {
  .notification {
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(36, 40, 59, 0.7);
    margin-bottom: 10px;

    .app_name {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6);
    }

    .time {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.4);
    }

    .summary {
      margin-top: 4px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
